<ion-content [fullscreen]="true" class="bg-color ">


  <div id="container" class="">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="">Welcome!</ion-card-title>
        <ion-card-subtitle>Please enter the details below to continue</ion-card-subtitle>
      </ion-card-header>
      <div class="image-container" >
        <ion-img class="centered-image"  src="assets/img/logo.png"></ion-img>
      </div>
      <ion-card-content class="">
        <ion-input label="Username"  label-placement="floating" fill="outline" color="dark"
          placeholder="Enter username"></ion-input>
        <br>
        <ion-input type="password" label="Password"  label-placement="floating" fill="outline"
          color="dark" placeholder="Enter password"></ion-input>
        <br>
        <ion-button class="login-button" size="full" (click)="loginBtn()">Login</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>
